*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  //  10/16 = 0.625 (Because we want 10px not 16px)
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
